<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Rebel Foods - Webpage</title>

  <%- include('partials/head') %>

  <!-- Custom styles for this page -->
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top" class="sidebar-toggled">

  <!-- Page Wrapper -->
  <div id="wrapper">


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <%- include('partials/header') %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <!--<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>-->

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Beer Details</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="posts_table" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Beer_id</th>
                      <th>Icon</th>
                      <th>Beer Name</th>
                      <th>Style</th>
                      <th>Ounces</th>
                      <th>IBU</th>
                      <th>ABV</th>
                    </tr>

                  </thead>
                  <tfoot>
                    <tr>
                      <th>Beer_id</th>
                      <th>Icon</th>
                      <th>Beer Name</th>
                      <th>Style</th>
                      <th>Ounces</th>
                      <th>IBU</th>
                      <th>ABV</th>
                    </tr>
                  </tfoot>
                  <tbody>
                <%
                if(products.length) {
                  for(var i = 0; i < products.length; i++)  {%>
                    <tr>
                      <td><%=products[i].id%></td>
                      <% if( i % 5 == 0){%>
                        <td><img src="<%=images[i%5].image%>" width="50" height="60"></td>
                      <%}%>
                      <% if( i % 5 == 1){%>
                        <td><img src="<%=images[i%5].image%>" width="50" height="60"></td>
                      <%}%>
                      <% if( i % 5 == 2){%>
                        <td><img src="<%=images[i%5].image%>" width="50" height="60"></td>
                      <%}%>
                      <% if( i % 5 == 3){%>
                        <td><img src="<%=images[i%5].image%>" width="50" height="60"></td>
                      <%}%>
                      <% if( i % 5 == 4){%>
                        <td><img src="<%=images[i%5].image%>" width="50" height="60"></td>
                      <%}%>
                      <td> <%=products[i].name %> </td>
                      <td> <%=products[i].style %> </td>
                      <td> <%=products[i].ounces %> </td>
                      <td> <%=products[i].ibu %> </td>
                      <td> <%=products[i].abv %> </td>
                    </tr>
                <% }
                } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <%-include('partials/footer') %>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <%-include('partials/foot') %>


  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <script>
    $(document).ready(function() {
      $("#posts_table").DataTable({
        "iDisplayLength": 20
      });
    });
  </script>


</body>

</html>
